
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
h1, p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    
}
h1 {
    letter-spacing: 0.1em;
    font-size: 3em;
    text-align: center;
    width: 10em;
    margin: 1em 1em 3em;
}
h1 > span {
    font-weight: 600;
    letter-spacing: 0;
    font-size: 1.5em;
}
p {
    font-size: 1.9em;
    margin: 1em;
}
img {
    width: 30em;
    height: auto;
}