
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

/* commons */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #5CDB95;
}
/* fonts */
h1, p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
h1 {
    letter-spacing: 0.1em;
    font-size: 3em;
    text-align: center;
    width: 10em;
    margin: 1em 1em 2em;
    color: #05386B;
    background-color: #EDF5E1;
    padding: 1em 2em;
}
h1 > span {
    font-weight: 600;
    letter-spacing: 0;
    font-size: 1.5em;
    color: #379683;
}
p {
    font-size: 1.9em;
    margin: 1em;
    width: 70%;
    color: #05386B;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* general */

.bayan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em 0 5em;
    background-color: #5CDB95;
}
.bayan__container {
    background-color: #5CDB95;
}
input:checked ~ .bayan__item-label > p {
    color: #EDF5E1;
}
.bayan__container:hover p {
    color: #EDF5E1;
}
.bayan__item {
    overflow: hidden;
    width: 100%;
}
.bayan__item:active {
    background-color: #8EE4AF;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}
.bayan__item:active p {
    color: #05386B;
}

.bayan__item-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* bayan icons */

.bayan__item-icon {
    width: 3em;
    height: 0;
    background-image: url(./assets/images/expand_more.svg);
    background-repeat: no-repeat;
    margin-right: 2em;
}
.bayan__container:hover .bayan__item-icon {
    height: 2em;
    background-position: center;
}
input:checked ~ .bayan__item-label > .bayan__item-icon {
    transform: rotate(180deg);
    transition: transform 0.4s ease-in; 
}

.bayan__item:hover  .bayan__item-icon {
    transform: rotate(180deg);
    transition: transform 0.4s ease-in; 
}

/* bayan meme */

.bayan__item-meme {
    max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(95%);
}
.bayan__item-meme > img {
    width: 30em;
    height: auto;
    opacity: 0.8;
    padding-bottom: 3em;
}
.bayan__item:hover > .bayan__item-meme {
    max-height: 100vh;
    transition: all 1s ease-in;
    transform: scale(100%);
}
.bayan__item:hover > .bayan__item-meme > img {
    opacity: 1;
    transition: all 1s ease-in;
}
input:checked ~ .bayan__item-meme {
    max-height: 100vh;
    transition: all 1s ease-in;
    transform: scale(100%);
}
input:checked ~ .bayan__item-meme > img {
    opacity: 1;
    transition: all 1s ease-in;
}
